{% extends "layout.html" %}

{% block content %}

  <div class="container">

    <p>
      This paragraph
      contains a lot of lines
      in the source code,
      but the browser
      ignores it.
    </p>

    <p>
      This paragraph
      contains      a lot of spaces
      in the source     code,
      but the    browser
      ignores it.
    </p>

    <p>
      The number of lines in a paragraph depends on the size of the browser window. If you resize the browser window, the number of lines in this paragraph will change.
    </p>

    <div class="container">
      <h2>Bordered Table</h2>
      <p>The .table-bordered class adds borders to a table:</p>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
        <tr>
          <td>Augst</td>
          <td>Italo</td>
          <td>jueeweweewely@example.com</td>
        </tr>
        <tr>
          <td>September</td>
          <td>Enrique</td>
          <td>jueewewdadeewely@example.com</td>
        </tr>
        </tbody>
      </table>
    </div>



  </div>

{% endblock %}
